<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Information</h1>
  </div>
</div>

<div class="container">

  <div class="section-title" data-aos="fade-left">
    <h2>ความรู้เกี่ยวกับ "ข้าว"</h2>
    <div class="center" style="border: 1px solid #F5F5F5">
      <img src="assets/img/it1.jpg" style="width: 500px; height: 300px">
    </div>
    <br>
    <p>
      ประเทศไทยถือเป็นแหล่งผลิตข้าวหอมมะลิที่มีคุณภาพดีที่สุดแห่งหนึ่ง โดยมีแหล่งเพาะปลูกสำคัญ
      ในภาคตะวันออกเฉียงเหนือ (เขตทุ่งกุลาร้องไห้) และมีพื้นที่เพาะปลูกครอบคลุมกว่า 19
      ล้านไร่ทั่วประเทศ โดยมีแหล่งผลิตสำคัญ คือ จังหวัดสุรินทร์ บุรีรัมย์ ศรีสะเกษ นครราชสีมา
      อุบลราชธานี ร้อยเอ็ด รองลงมาคือภาคเหนือ
      เนื่องจากสภาพดินฟ้า-อากาศและพื้นที่เพาะปลูกของทั้งสองภาคคล้ายคลึงกัน
      เหมาะแก่การเจริญเติบโตของข้าวหอมมะลิ กล่าวคือ สภาพพื้นที่ส่วนใหญ่เป็นที่ดอน
      ฝนจะเริ่มตกตั้งแต่เดือนพฤษภาคม ชาวนาจะเริ่มหว่านไถ ในเดือนมิถุนายน
      และเพาะปลูกอยู่ในช่วงเดือนกรกฎาคม – สิงหาคม เมื่อฝนเริ่มหมด
      ปลายเดือนตุลาคมจนถึงต้นเดือนพฤศจิกายน
      จึงเริ่มเก็บเกี่ยวช่วงเดือนพฤศจิกายนความชื้นจะน้อยเพราะเป็นช่วงที่ลมหนาวจากเมืองจีนเริ่มพัดเข้ามาในสองภาคนี้
      ทำให้อากาศแห้งเหมาะในการเก็บเกี่ยว การตาก การนวด ก็ทำได้ง่าย เพราะน้ำแห้งนาหมดแล้ว ไม่มีฝน
      จึงทำให้ได้เมล็ดข้าวที่มีคุณภาพ
      สำหรับการปลูกข้าวหอมจะทำกันได้ดีเฉพาะที่ที่เป็นนาดอนเสียเป็นส่วนใหญ่
    </p>
    <br>
    <p>
      <u style="color: red;">
        ข้าวหอมมะลิ</u> ที่นิยมปลูกและบริโภคกันอย่างแพร่หลายคือพันธุ์ ขาวดอกมะลิ 105 และ พันธุ์
      กข.15 ความหอมของข้าวหอมมะลิ เกิดจากสารระเหยชื่อ 2-acetyl-1-pyroline
      ซึ่งเป็นสารที่ระเหยหายไปได้ การรักษาความหอมของข้าวหอมที่ดีต้องเริ่มตั้งแต่ การเก็บเกี่ยว
      การเก็บรักษาข้าวเปลือกการสีข้าว
      และการเก็บรักษาข้าวที่สีเรียบร้อยแล้วการจะรักษาความหอมของข้าวเอาไว้ต้องพยายามหลีกเลี่ยงภาวะแวดล้อมที่ร้อน
      อบอ้าว และมีความชื้นสูง การตากแดดหรือใกล้สถานที่ร้อนจัดเป็นเวลานานๆ
      เป็นสิ่งที่ควรหลีกเลี่ยงอย่างยิ่งสภาวะที่เหมาะสมคือที่ที่มีอากาศค่อนข้างเย็น
      มีการถ่ายเทของอากาศดี ความชื้นไม่สูง

      ข้าวหอมใหม่ (NEW CROP) หมายถึงข้าวหอมที่พึ่งเก็บเกี่ยวมาได้สักระยะหนึ่ง
      และมีการดูแลรักษาอย่างดี ก่อนที่จะนำมาบริโภค ข้าวหอมใหม่จะให้ความหอมขณะหุงต้ม
      ซึ่งเป็นคุณสมบัติพิเศษที่แตกต่างจากข้าวชนิดอื่นๆ นอกจากนี้ข้าวหอมที่หุงแล้ว
      ยังมีลักษณะนุ่มเหนียว มียาง เกาะตัวกันพอสมควร มีรสชาติอร่อย

      ข้าวหอมที่เก็บไว้นานขึ้น (ข้าวเก่า) คือ ข้าวที่เก็บเกี่ยวมาแล้วเก็บไว้เป็นเวลานาน 5-6
      เดือนขึ้นไป ความหอมจะเจือจางลง รวมทั้งความนุ่มเหนียวลดลงด้วย
      เมื่อนำข้าวหอมนี้มาหุงจะต้องใช้ปริมาณน้ำมากขึ้นกว่าข้าวใหม่
      ถึงแม้ความหอมจะลดน้อยลงไปแต่ยังคงมีรสชาติอร่อยเหมือนเดิม

    </p>
    <br>
    <div class="panel-body">
      <u style="color: rgb(55, 0, 255);">
        ประเภทของข้าวหอมมะลิ</u><br />
      กระทรวงพาณิชย์ (กรมการค้าต่างประเทศ) ได้แบ่งประเภทของ ข้าวหอมมะลิไทย ออกเป็น 2 ประเภท คือ
      ข้าวขาว (8 ชนิด) และข้าวกล้อง ( 6 ชนิด)<br />

      ข้าวขาวแบ่งออกเป็น 8 ชนิด ดังนี้<br />
      <ul>
        <li>ข้าวขาว 100 เปอร์เซ็นต์ ชั้น 1</li>
        <li>ข้าวขาว 100 เปอร์เซ็นต์ ชั้น 2 (มีปริมาณส่งออกมากที่สุด)</li>
        <li>ข้าวขาว 100 เปอร์เซ็นต์ ชั้น 3</li>
        <li>ข้าวขาว 5 เปอร์เซ็นต์</li>
        <li>ข้าวขาว 10 เปอร์เซ็นต์</li>
        <li>ข้าวขาว 15 เปอร์เซ็นต์</li>
        <li>ข้าวขาวหักเอวันเลิศพิเศษ</li>
        <li>ข้าวขาวหักเอวันเลิศ</li>
      </ul>

      ข้าวกล้องแบ่งออกเป็น 6 ชนิด ดังนี้<br />
      <ul>
        <li>ข้าวกล้อง 100 เปอร์เซ็นต์ ชั้น 1</li>
        <li>ข้าวกล้อง 100 เปอร์เซ็นต์ ชั้น 2</li>
        <li>ข้าวกล้อง 100 เปอร์เซ็นต์ ชั้น 3</li>
        <li>ข้าวกล้อง 5 เปอร์เซ็นต์</li>
        <li>ข้าวกล้อง 10 เปอร์เซ็นต์</li>
        <li>ข้าวกล้อง 15 เปอร์เซ็นต์</li>
      </ul>
      <img src="assets/img/it2.jpg" style="width: 500px; height: 300px; border:1px solid #F5F5F5; border-radius: 16px;">
      &nbsp;&nbsp;
      <img src="assets/img/it3.jpg" style="width: 500px; height: 300px; border:1px solid #F5F5F5; border-radius: 16px;">
    </div>
    <br />
  </div>
</div>
