@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';

body {
  font-family: 'Kanit', sans-serif;
}

h1 {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #004a8f;
}

h2,
h3 {
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.p {
  text-indent: 100px;
  text-align: justify;
  letter-spacing: 3px;
}
table, th, td {
  border: 1px solid rgb(165, 165, 165);
  border-collapse: collapse;
}
th,td {
  padding: 5px;
}
