<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Contact</h1>
  </div>
</div>

<div class="container">
  <section class="qc-banner-v5-1">
    <div class="uk-container uk-container-center">
      <h3>ติดต่อเราได้ที่</h3>
    </div>
  </section>

  <div class="box uk-width-large-1-3 uk-width-medium-1-1 uk-width-small-1-1 uk-width-1-1">
    <ul class="contact">
      <li><span class="uk-icon uk-icon-home"></span>139 ซ.สาทร11แยก3 ถ.สาทรใต้ แขวงยานนาวา เขตสาทร 10120
      </li>
      <li><span class="uk-icon uk-icon-phone-square"></span>
        <div class="contact-phone">
          <a href="tel:02-286-9265">(+66)02-286-9265</a><br />
        </div>
      </li>
      <li><span class="uk-icon uk-icon-envelope-o"></span><a href="#">info@somcheng.biz</a>
      </li>
      <li><span class="uk-icon uk-icon-clock-o"></span>เปิดบริการทุกวัน 09:00 - 17:00</li>
    </ul>
  </div>

  <div class="contact-maps">
    <div class="uk-container uk-container-center">
      <h3>แผนที่ร้านค้า</h3>
    </div>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!--Card-->
        <div class="card card-cascade narrower">
          <!--Card content-->
          <div class="card-body card-body-cascade text-center">

            <!--Google map-->
            <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.016779688972!2d100.52651261477874!3d13.717433490369654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e298cb58fde003%3A0xf601cd7772169228!2zMTM5IOC4i-C4reC4oiDguJ7guLTguIrguLHguKIgMSDguYHguILguKfguIcg4Lii4Liy4LiZ4LiZ4Liy4Lin4LiyIOC5gOC4guC4lSDguKrguLLguJfguKMg4LiB4Lij4Li44LiH4LmA4LiX4Lie4Lih4Lir4Liy4LiZ4LiE4LijIDEwMTIw!5e0!3m2!1sth!2sth!4v1614146986779!5m2!1sth!2sth"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
          <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

</div>
